* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 20px;
    right: 30px;
    border: rgb(233, 15, 178); 
    background: rgb(233, 15, 178); 
    padding: 20px; 
    border-radius: 100px;
}

body{
    background-color: rgb(234, 234, 240);
}

h3{
    color: pink;
}


a.button {
    display: inline-block;
    background: rgb(233, 15, 178); 
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
  }
  
img{
    height: 400px;
}